.a{
    background-color: blue;
    height: 90px;
    width:87px;
}
.bg{
    background-color: deeppink;
    height: 90px;
    width:87px;
}
.dd{
    background-color: indigo;
    height: 90px;
    width: 87px;
}